.cart-item, .shipping-item {
    //width: 100%;
    min-width: 380px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }
  .headPartco {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }


  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }