<mat-card style = "margin-top: 100px;" class = "col" >
     
       
        <mat-card-content class = "cart-item">
          <span><b>Device Name</b></span>
          <span><b>Price</b></span>
          <span><b>Delete Item</b> </span>
        </mat-card-content>
       
        <mat-card-content class = "cart-item" *ngFor = "let item of items;">
            <span>{{ item.name}}</span>
            <span>{{ item.price | currency }}</span>
            <button (click) = "deleteItem(item.id)"><mat-icon color= "warn">delete</mat-icon></button>
      </mat-card-content> 
      <mat-card-content class = "cart-item" >
        
        <span><b>Total:</b></span>
     

        <span style = "float: right;"><b>
          {{ getTotalCost() | currency }}</b> 
      </span> 
      </mat-card-content>
    <mat-card>
      <mat-card-content>
        <form [formGroup]= "checkoutForm" (ngSubmit) = "onSubmit(checkoutForm.value)">
          <div> 
              <label for="name">
                Name
              </label>
              <input id="name" type="text" formControlName="name">
            </div>
          
            <div>
              <label for="address">
                Address
              </label>
              <input id="address" type="text" formControlName="address">
            </div>
          <button class="button" type="submit">Purchase</button>
        </form>
      </mat-card-content>
    </mat-card>
</mat-card>




 



<!--
<mat-card style = "margin-top: 100px;">
<div class = "cart-item" *ngFor = "let item of items">
  <span>{{ item.name}}</span>
  <span>{{ item.price | currency }}</span>
</div>


  <mat-card style = "margin-top: 100px;" *ngFor = "let product of items;">
    <h2>{{ product.item }}<b>: {{ product.name }} </b></h2>
    <mat-card-content>
      <mat-card>
        <img mat-card-image  [src] = "product.image"
        alt ="A picture of {{product.name}}"/>
      </mat-card>
    </mat-card-content>
  </mat-card>

<form [formGroup]= "checkoutForm" (ngSubmit) = "onSubmit(checkoutForm.value)">
  <div> 

    <mat-card style = "margin-top: 100px;" *ngFor = "let product of items;">
      <h2>{{ product.item }}<b>: {{ product.name }} </b></h2>
      <mat-card-content>
        <mat-card>
          <img mat-card-image  [src] = "product.image"
          alt ="A picture of {{product.name}}"/>
        </mat-card>
      </mat-card-content>
    </mat-card>


      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
  
    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address">
    </div>
  <button class="button" type="submit">Purchase</button>
</form>


</mat-card>
 
 <mat-card>
  <mat-card-title>Shopping</mat-card-title>
  <h3>Cart</h3>
  <div class="container">
    <div class="heading">
      <h1>
        <span class="shopper">s</span> Shopping Cart
      </h1>
      
      <a href="#" class="visibility-cart transition is-open">X</a>    
    </div>
    
    <div class="cart transition is-open">
      
      <a href="#" class="btn btn-update">Update cart</a>
      
      
      <div class="table">
        
        <div class="layout-inline row th">
          <div class="col col-pro">Product</div>
          <div class="col col-price align-center "> 
            Price
          </div>
          <div class="col col-qty align-center">QTY</div>
          <div class="col">VAT</div>
          <div class="col">Total</div>
        </div>
        
        <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="http://static.ddmcdn.com/gif/10-kitten-cuteness-1.jpg" alt="kitten" />
            <p>Happy Little Critter</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>£59.99</p>
          </div>
  
          <div class="col col-qty layout-inline">
            <a href="#" class="qty qty-minus">-</a>
              <input type="numeric" value="3" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£2.95</p>
          </div>
          <div class="col col-total col-numeric">               <p> £182.95</p>
          </div>
        </div>
        
        <div class="layout-inline row row-bg2">
  
          <div class="col col-pro layout-inline">
            <img src="http://lovemeow.com/wp-content/uploads/2012/05/kitten81.jpg" alt="kitten" />
            <p>Scared Little Kittie</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>£23.99</p>
          </div>
  
          <div class="col col-qty  layout-inline">
            <a href="#" class="qty qty-minus ">-</a>
              <input type="numeric" value="1" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£1.95</p>
          </div>
          <div class="col col-total col-numeric">
            <p>£25.94</p>
         </div>      
        
        </div>
        
         <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="http://cdn.cutestpaw.com/wp-content/uploads/2012/04/l-my-first-kitten.jpg" alt="kitten" />
            <p>Curious Little Begger</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>£59.99</p>
          </div>
  
          <div class="col col-qty layout-inline">
            <a href="#" class="qty qty-minus">-</a>
              <input type="numeric" value="3" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£2.95</p>          
          </div>
           <div class="col col-total col-numeric">  
             <p>£182.95</p>
           </div>         
        </div>
    
         <div class="tf">
           <div class="row layout-inline">
             <div class="col">
               <p>VAT</p>
             </div>
             <div class="col"></div>
           </div>
           <div class="row layout-inline">
             <div class="col">
               <p>Shipping</p>
             </div>
             <div class="col"></div>
           </div>
            <div class="row layout-inline">
             <div class="col">
               <p>Total</p>
             </div>
             <div class="col"></div>
           </div>
         </div>         
    </div>
      
      <a href="#" class="btn btn-update">Update cart</a>
    
  </div>
  </div>
</mat-card>



<div class="container">
  <div class="heading">
    <h1>
      <span class="shopper">s</span> Shopping Cart
    </h1>
    
    <a href="#" class="visibility-cart transition is-open">X</a>    
  </div>
  
  <div class="cart transition is-open">
    
    <a href="#" class="btn btn-update">Update cart</a>
    
    
    <div class="table">
      
      <div class="layout-inline row th">
        <div class="col col-pro">Product</div>
        <div class="col col-price align-center "> 
          Price
        </div>
        <div class="col col-qty align-center">QTY</div>
        <div class="col">VAT</div>
        <div class="col">Total</div>
      </div>
      
      <div class="layout-inline row">
        
        <div class="col col-pro layout-inline">
          <img src="http://static.ddmcdn.com/gif/10-kitten-cuteness-1.jpg" alt="kitten" />
          <p>Happy Little Critter</p>
        </div>
        
        <div class="col col-price col-numeric align-center ">
          <p>£59.99</p>
        </div>

        <div class="col col-qty layout-inline">
          <a href="#" class="qty qty-minus">-</a>
            <input type="numeric" value="3" />
          <a href="#" class="qty qty-plus">+</a>
        </div>
        
        <div class="col col-vat col-numeric">
          <p>£2.95</p>
        </div>
        <div class="col col-total col-numeric">               <p> £182.95</p>
        </div>
      </div>
      
      
      
       <div class="layout-inline row">
        
      
       <div class="tf">
         <div class="row layout-inline">
           <div class="col">
             <p>VAT</p>
           </div>
           <div class="col"></div>
         </div>
         <div class="row layout-inline">
           <div class="col">
             <p>Shipping</p>
           </div>
           <div class="col"></div>
         </div>
          <div class="row layout-inline">
           <div class="col">
             <p>Total</p>
           </div>
           <div class="col"></div>
         </div>
       </div>         
  </div>
    
    <a href="#" class="btn btn-update">Update cart</a>
  
</div>



<h3>Cart</h3>


<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>
<hr>
    <div class = "row">
      <div name = "itemId" class = "cart-item" *ngFor = "let item of items; index as itemId">
          <span>{{itemId + 1 + ' ' }} {{ item.name}}</span>
          <span>{{ item.price | currency }}</span>
          <app-delete [item]  = "itemId">
          </app-delete>
      </div>
  </div>
  <div *ngFor = "let item of items; index as itemId">
  <h3> 
    <a [title]="item.name + ' details'" [routerLink]="['/items',itemId]">
    {{ item.name }} 
    </a>
  </h3>
    <app-delete
      [item] = "itemId" (click) = "deleteItem(itemId)">
</app-delete>
 </div>

-->

  






